body {
    font-family: Arial, sans-serif;
    background-color: #002b36;
    color: #fdf6e3;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    background-color: #002b36;
    padding: 20px;
    text-align: center;
    color: #fdf6e3;
}

section {
    padding: 20px;
    background-color: #fdf6e3;
    color: #002b36;
    margin: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #002b36;
    color: #fdf6e3;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.center-box {
    display: grid;
    justify-content:center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
}
.center-box form {
    display: grid;
    flex-direction: column;
    gap: 15px;
}

