<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Error!!</title>
</head>
<body>
    <header>
        <h1 style="color:#d33682">Da ist was schief gelaufen!</h1>
    </header>
    <section class="center-box">
        <p>{{ error_message }}</p>
        <a href="https://broketheco.de/wichtel">Zurück</a>
    </section>
</body>
</html>
