<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ergebnis</title>
</head>
<body>
    <header>
        <h1>Danke für die Teilnahme!</h1>
    </header>
    <section class="center-box" style="max-width:400px;">
        <h2>Dieses Jahr beschenkst du:</h2>
        <p>{{ receiver }}</p>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </section>
</body>
</html>
